/A.D.E
/DataExploreAg.ipynb
/DataExploring.ipynb
/Il Sistema Catastale 2023_dati 31 12 2022_in pubblicazione.pdf
/Leggere_LaTabella.png
/TryPyplot.ipynb
/guida_cons_quotOMI_Guida alla Consultazione delle Quotazioni OMI.pdf
/newplot.png